.input{
    margin-bottom: 1rem;
    height: 40px;
    border:0;
    border-radius: 0.5rem;
    background-color: var(--yellow);
    color: var(--dark);
    padding: 1rem;
    border: 1px solid var(--gray-100);
  }
  
  .input::placeholder{
    color: rgba(14, 13, 13, 0.8);
  }